# MEA ephys pipeline run configuration
# Edit this file for each user/run.

# Main project/run folder
# For your own test run, change this to your NERSC scratch or shared project folder.
export PROJECT_DIR=/pscratch/sd/<first-letter>/<username>/mea_pipeline_run

# Pipeline folder
export PIPELINE_DIR=${PROJECT_DIR}/MEA-ephys-pipeline

# Input data folder
export DATA_DIR=${PROJECT_DIR}/data

# Output folders
export RESULTS_PATH=${PROJECT_DIR}/results
export WORK_DIR=${PROJECT_DIR}/nextflow_work
export LOG_DIR=${PROJECT_DIR}/logs
export TMPDIR=${PROJECT_DIR}/tmp
export KACHERY_DIR=${PROJECT_DIR}/tmp/kachery

# Parameter file
export PARAMS_FILE=${PIPELINE_DIR}/scripts/params_no_motion.json

# Conda environment
export CONDA_ENV=env_ephys
