params.executor = "local"

process {
    executor = 'local'
    debug = true
    cpus = 8
    memory = '32 GB'

    env {
        SPIKEINTERFACE_UNSIGNED_TO_SIGNED = "1"
    }

    withName: preprocessing {
        maxForks = 1
    }

    withName: spikesort_kilosort4 {
        maxForks = 1
    }

    withName: spikesort_kilosort25 {
        maxForks = 1
    }

    withName: spikesort_spykingcircus2 {
        maxForks = 1
    }

    withName: postprocessing {
        maxForks = 1
    }

    withName: quality_control {
        maxForks = 1
    }
}

docker {
    enabled = false
}
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/wynton/group/ahituv/RBS_Lab/singularity_cache"
    runOptions = '--bind /wynton/group/ahituv:/wynton/group/ahituv --bind /wynton/home:/wynton/home'
}

dag {
    enabled = true
    file = "${System.getenv('RESULTS_PATH')}/nextflow/dag.html"
    overwrite = true
}

report {
    enabled = true
    file = "${System.getenv('RESULTS_PATH')}/nextflow/report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${System.getenv('RESULTS_PATH')}/nextflow/timeline.html"
    overwrite = true
}

trace {
    enabled = true
    file = "${System.getenv('RESULTS_PATH')}/nextflow/trace.txt"
    overwrite = true
}