nextflow.enable.strict = false
params.executor = "local"

process {
    executor = 'local'
    debug = true

    withName: job_dispatch { maxForks = 1 }
    withName: preprocessing { maxForks = 1 }
    withName: spikesort_kilosort4 { maxForks = 1 }
    withName: postprocessing { maxForks = 1 }
    withName: curation { maxForks = 1 }
    withName: visualization { maxForks = 1 }
    withName: results_collector { maxForks = 1 }
    withName: report_generation { maxForks = 1 }
    withName: burst_detection { maxForks = 1 }
    withName: quality_control { maxForks = 1 }
    withName: quality_control_collector { maxForks = 1 }
    withName: nwb_ecephys { maxForks = 1 }
    withName: nwb_units { maxForks = 1 }

    env {
        SPIKEINTERFACE_UNSIGNED_TO_SIGNED = "1"
        TMPDIR = "${System.getenv('TMPDIR')}"
    }
}

shifter {
    enabled = true
    runOptions = "--volume=${System.getenv('PROJECT_DIR')}:${System.getenv('PROJECT_DIR')}"
}

podman {
    enabled = false
}

docker {
    enabled = false
}

singularity {
    enabled = false
}

dag { enabled = true; file = "${System.getenv('RESULTS_PATH')}/nextflow/dag.html"; overwrite = true }
report { enabled = true; file = "${System.getenv('RESULTS_PATH')}/nextflow/report.html"; overwrite = true }
timeline { enabled = true; file = "${System.getenv('RESULTS_PATH')}/nextflow/timeline.html"; overwrite = true }
trace { enabled = true; file = "${System.getenv('RESULTS_PATH')}/nextflow/trace.txt"; overwrite = true }
